@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-1 {
    flex: 1;
}

.Header1L {
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 80px;

    height: 42px;
    position: relative;
    z-index: 10;
    max-width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
        0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.Header2L {
    height: 114px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header3L {


    height: 58px;
    background: #00b4db;
    /* fallback for old browsers */

    background: linear-gradient(to left, #0052d4, #65c7f7, #0052d4);
}

.Header3L-Inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    height: 100%;
    ;

}

.NavLink {
    color: #fff;
    line-height: 58px;
    font-size: 18px;
}

.Image-Wrap {
    height: 443px;
    width: 100%;
}